<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/diary</property>
    <property name="connection.username">root</property>
    <property name="connection.password"/>
    <property name="connection.pool_size">1</property>
    <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <property name="current_session_context_class">thread</property>
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <property name="show_sql">true</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.timeout">30000</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.idle_test_period">3000</property>
    <!-- Vùng mapping -->
    <mapping resource="diary/hbm/User.hbm.xml"/>
    <mapping resource="diary/hbm/Ads.hbm.xml"/>
    <mapping resource="diary/hbm/Category.hbm.xml"/>
    <mapping resource="diary/hbm/DiaryBook.hbm.xml"/>
    <mapping resource="diary/hbm/Divination.hbm.xml"/>
    <mapping resource="diary/hbm/DivinationCategory.hbm.xml"/>
    <mapping resource="diary/hbm/DivinationFast.hbm.xml"/>
    <mapping resource="diary/hbm/DivinationLong.hbm.xml"/>
    <mapping resource="diary/hbm/ResultsDivinationCouples.hbm.xml"/>
    <mapping resource="diary/hbm/Resource.hbm.xml"/>
    <mapping resource="diary/hbm/DiaryBookContent.hbm.xml"/>
    <mapping resource="diary/hbm/ViewDiaryBook.hbm.xml"/>
    <mapping resource="diary/hbm/Role.hbm.xml"/>
    <mapping resource="diary/hbm/Permission.hbm.xml"/>
    <mapping resource="diary/hbm/Function.hbm.xml"/>
    <mapping resource="diary/hbm/RolePerm.hbm.xml"/>
    <mapping resource="diary/hbm/ResultsDivinationFast.hbm.xml"/>
    <mapping resource="diary/hbm/UserRole.hbm.xml"/>
    <mapping resource="diary/hbm/Zodiac.hbm.xml"/>
    <mapping resource="diary/hbm/DivinationLongContent.hbm.xml"/>
    <mapping resource="diary/hbm/ResultDivinationLong.hbm.xml"/>
    <mapping resource="diary/hbm/UserDiaryBook.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
