#book-wrapper.mobile
{
overflow:hidden;
}
#book-wrapper.mobile ul#booktopbar #threedoverride:after
{
display:none;
}
#book-wrapper.mobile #book
{
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
}
#book-wrapper.mobile #pright
{
display:none;
}
#book-wrapper.mobile.notthreed #book .page
{
opacity:0;
}
#book-wrapper.mobile.notthreed #book .page.currentpage
{
opacity:1;
}
#book-wrapper.mobile ul#booktopbar
 {
  bottom: 0;
  height: 50px;
  top: auto;
position: fixed;
z-index:9999999;
border-top:4px solid #000;
padding-top:4px;
background: #fff;
 }
#book-wrapper.mobile ul#booktopbar li 
{
background: #000;
border:none;
height: 50px;
display: inline-block;
border-radius: 0px;
text-shadow: none;
list-style-type: none;
overflow:hidden;
box-shadow:0 0 0 #000;
}
#book-wrapper.mobile ul#booktopbar li#explode, #book-wrapper.mobile ul#booktopbar li#unexplode
/* #book-wrapper.mobile ul#booktopbar #threedoverride */
{
width:13%;
font-size:0;
color: transparent;
} 

#book-wrapper.mobile ul#booktopbar li#explode, #book-wrapper.mobile ul#booktopbar li#unexplode
{
left:0;
}
/*
#book-wrapper.mobile ul#booktopbar #threedoverride 
{
right: 0;
border-left:1px solid #666;
}
*/
#book-wrapper.mobile ul#booktopbar #threedoverride 
{
display:none;
}
#book-wrapper.mobile ul#booktopbar #booknav
{
width:88%;
border-left:1px solid #666;
font-size:15px;
left:6%;
}
#book-wrapper.mobile ul#booktopbar li a, #book-wrapper.mobile ul#booktopbar li#booknav p
 {
  color: #000;
  font-weight: lighter;
  font-family: sans-serif;
  opacity: 0.8;
  text-transform: uppercase;
text-align:center;

 }
#book-wrapper.mobile ul#booktopbar li#explode a b, #book-wrapper.mobile ul#booktopbar #threedoverride a b, #book-wrapper.mobile ul#booktopbar #threedoverride a b:after, #book-wrapper.mobile ul#booktopbar #threedoverride a b:before
{
display:none;
}
#book-wrapper.mobile #book
{
margin:2px auto;
}
#book-wrapper.mobile #book #next, #book-wrapper.mobile #book #previous
{
display:none;
} 
#book-wrapper.mobile ul#booktopbar li#booknav p, #book-wrapper.mobile ul#booktopbar li#booknav a
{
padding:14px 0;
float:left;
border-left:1px solid #666;
position:relative;
}
#book-wrapper.mobile ul#booktopbar li#booknav a
{
width:15%;
height: 20px;
}
#book-wrapper.mobile ul#booktopbar li#booknav p
{
width:38%;
color:#fff;
}
#book-wrapper.mobile ul#booktopbar li#booknav a:nth-of-type(1)
{
border-left:none;
}


#bodyshadow
{
display:none;
}
#book-wrapper.mobile ul#booktopbar #threedoverride a
{
position:static;
}


/*********************************** ICONS **************************************/

#book-wrapper.mobile ul#booktopbar li#explode a:after, #book-wrapper.mobile ul#booktopbar a#navfirst:after,
#book-wrapper.mobile ul#booktopbar a#navback:after, #book-wrapper.mobile ul#booktopbar a#navforward:after,
#book-wrapper.mobile ul#booktopbar a#mobforward:after, #book-wrapper.mobile ul#booktopbar a#mobback:after,
#book-wrapper.mobile ul#booktopbar a#navlast:after, #book-wrapper.mobile ul#booktopbar #threedoverride a:after
 {
  position: absolute;
display:block;
  content: "";
  top: 50%;
  left: 50%;
  height: 19px;
  margin: -10px;
  background-image: url('../images/mobile-icons.gif');
 }
#book-wrapper.mobile ul#booktopbar li#explode a:after
{
width:16px;
margin-left:-8px;
}
#book-wrapper.mobile ul#booktopbar a#navfirst:after
{
background-position:-16px 0;
width:18px;
margin-left:-9px;
}
#book-wrapper.mobile ul#booktopbar a#navback:after, #book-wrapper.mobile ul#booktopbar a#mobback:after
{
background-position:-20px 0;
width:14px;
margin-left:-7px;
}
#book-wrapper.mobile ul#booktopbar a#navforward:after, #book-wrapper.mobile ul#booktopbar a#mobforward:after
{
background-position:-34px 0;
width:14px;
margin-left:-7px;
}
#book-wrapper.mobile ul#booktopbar a#navlast:after
{
background-position:-34px 0;
width:18px;
margin-left:-9px;
}
#book-wrapper.mobile ul#booktopbar #threedoverride a:after
{
background-position:-52px 0;
width:18px;
margin-left:-9px;
}

/*********************************** EXPLODED **************************************/

#book-wrapper.mobile #book .page.exploded, #book-wrapper.mobile #book .page.exploded > ul > li
{
position:static;
display:block;
}
#book-wrapper.mobile #book .page.exploded > ul > li
{
margin-bottom: 3%;
}
#book-wrapper.mobile #book .page.exploded ul li.left div, #book-wrapper.mobile #book .page.exploded ul li.right div
{
left:0;
right:auto;
}
#book-wrapper.mobile #book.exploded, #book-wrapper.mobile #book .page.exploded
{
margin:0;
}
#book-wrapper.mobile.notthreed #book.exploded .page
{
opacity:1;
display:block;
}
#book-wrapper #book.exploded ul, #book-wrapper #book.exploded .page ul
{
height:auto;
}
