<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/layout-smartphone.css">

    <script type="text/javascript" src="js/lib/jquery-1.9.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
</head>
<body>
<div class="container dev-main">
    <!--========header=================-->
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="pull-left choose-language">
                <select class="form-control">
                    <option>Việt Nam</option>
                    <option>English</option>
                    <option>日本語</option>
                </select>
            </div>
            <div class="input-group header-search pull-right">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn"><button class="btn btn-info btn-search" type="submit"><i class="glyphicon glyphicon-search"></i></button></span>
            </div><!-- /input-group -->
        </div>
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="header">
                <img src="images/logo_1375239887.jpg" class="img-responsive">
            </div>
        </div>
    </div><br>
    <!--========menu=================-->
    <div class="row">
        <div class="col-md-10 col-xs-12 col-md-offset-1">
            <!--======== start header===========-->
            <nav class="navbar navbar-default nav-menu" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="home-page.html"><span class="glyphicon glyphicon-home"></span> </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Trắc nghiệm</a></li>
                            <li><a href="#">Xem bói</a></li>
                            <li><a href="#">Tạo ảnh</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nhật kí <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="read-diary.html">Đọc nhật kí</a></li>
                                    <li><a href="#">Viết nhật kí</a></li>
                                    <li class="divider"></li>
                                    <li><a href="create-diary.html">Tạo mới nhật kí</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Xin chào Admin <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Thiết lập</a></li>
                                    <li><a href="#">Đổi mật khẩu</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Thoát</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <!--========body=================-->
    <div class="row">
        <div class="col-md-10 col-xs-12 col-md-offset-1">
            <div class="pull-left main-quiz">
                <div class="quiz-fast quiz-fast-left">
                    <div class="quiz-fast-title">
                        Trắc nghiệm nhanh
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-responsive" src="images/1.jpg" alt="...">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">TRẮC NGHIỆM: CHỌN HOA HỒNG BÀY TỎ "TÌNH CẢM" VỚI NỬA KIA</a></h4>
                            Cùng chọn những bông hoa bạn thích để tặng phái nữ trong ngày 8/3 nhé!
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-responsive" src="images/2.jpg" alt="...">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">TRẮC NGHIỆM: CHỌN HOA HỒNG BÀY TỎ "TÌNH CẢM" VỚI NỬA KIA</a></h4>
                            Cùng chọn những bông hoa bạn thích để tặng phái nữ trong ngày 8/3 nhé!
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-responsive" src="images/3.png" alt="...">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">TRẮC NGHIỆM: CHỌN HOA HỒNG BÀY TỎ "TÌNH CẢM" VỚI NỬA KIA</a></h4>
                            Cùng chọn những bông hoa bạn thích để tặng phái nữ trong ngày 8/3 nhé!
                        </div>>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-responsive" src="images/4.jpg" alt="...">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">TRẮC NGHIỆM: CHỌN HOA HỒNG BÀY TỎ "TÌNH CẢM" VỚI NỬA KIA</a></h4>
                            Cùng chọn những bông hoa bạn thích để tặng phái nữ trong ngày 8/3 nhé!
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right main-quiz">
                <div class="quiz-fast quiz-fast-right">
                    <div class="quiz-fast-title">
                        Trắc nghiệm dài
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-responsive"  src="images/1.jpg" alt="...">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">TRẮC NGHIỆM: CHỌN HOA HỒNG BÀY TỎ "TÌNH CẢM" VỚI NỬA KIA</a></h4>
                            Cùng chọn những bông hoa bạn thích để tặng phái nữ trong ngày 8/3 nhé!
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-responsive" src="images/2.jpg" alt="...">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">TRẮC NGHIỆM: CHỌN HOA HỒNG BÀY TỎ "TÌNH CẢM" VỚI NỬA KIA</a></h4>
                            Cùng chọn những bông hoa bạn thích để tặng phái nữ trong ngày 8/3 nhé!
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-responsive" src="images/3.png" alt="...">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">TRẮC NGHIỆM: CHỌN HOA HỒNG BÀY TỎ "TÌNH CẢM" VỚI NỬA KIA</a></h4>
                            Cùng chọn những bông hoa bạn thích để tặng phái nữ trong ngày 8/3 nhé!
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-responsive" src="images/4.jpg" alt="...">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">TRẮC NGHIỆM: CHỌN HOA HỒNG BÀY TỎ "TÌNH CẢM" VỚI NỬA KIA</a></h4>
                            Cùng chọn những bông hoa bạn thích để tặng phái nữ trong ngày 8/3 nhé!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><hr class="hr-footer" size="2px" width="83%">
    <div class="row">
        <div class="col-md-10 col-xs-12 col-md-offset-1">
            <div class="footer">
                <h3>Hệ Thống Nhật Kí Tình Yêu</h3>
                <p>Trường Đào tạo lập trình viên quốc tế AiTi-Aptech</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>